.blog-container {
  width: 100%;
  min-height: 100%;
  padding: 25px 0;
}
.blog-center {
  margin-left: 10%;
  width: 80%;
}
.blogPost-container {
  display: flex;
  justify-content: flex-start;
  &:not(:last-child) { 
    margin-bottom: 20px;
  }
  padding: 24px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}
.blogPost-content {
  padding: 0 15px;
}
.blogPost-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    list-style-type: none;
    padding: 0;
  }
}
.blogPost-title{
  margin: 0;
  border-bottom: 1px solid;
}
.blogPost-image {
  width: 200px;
  height: 200px;
}
.post-link {
  padding: 6px 20px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #2d91d4, #1c75b1);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  text-decoration: none;
  color: white;
  font-size: 24px;
  &:hover {
    box-shadow: none;
    cursor: pointer;
  }
}
.nav-blog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .blog-arrow {
    margin: 12px 24px;
    font-size: 64px;
    color: rgb(155, 26, 26);
    &:hover {
      cursor: pointer;
      color: red;
    }
    }
  p{
    font-size: 32px;
  }
}