.create-product-form {
    width: 100%;
    min-height: 100%;
    margin-top: 50px;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-left: 20%;
}

.input-product-field {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 25px;
  .input-for-product {
      font-size: 22px;
      text-align: center;
      margin: 5px 0;
  }
  .description-field {
    height: 100px;
    text-align: initial;
    resize: none;
  }
}

.btn-product-container {
  display: flex;
  flex-direction: row;
}

.btn-product {
  width: 180px;
  height: 50px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  font-size: 22px;
  color: white;
  background: linear-gradient(to bottom, #2d91d4, #1c75b1);
  padding: 10px;
  margin: 16px 10px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  &:hover {
    box-shadow: none;
    cursor: pointer;
  }
}