.cart-holder-container {
  width: 100%;
  min-height: 100%;
  padding: 25px 0;
}
.cart-holder-center {
  margin-left: 10%;
  width: 80%;
}
.cart-container {
  display: flex;
  justify-content: flex-start;
  &:not(:last-child) { 
    margin-bottom: 20px;
  }
  padding: 24px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}
.cart-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    list-style-type: none;
    padding: 0;
  }
}
.cart-user-image {
  width: 200px;
  height: 200px;
}
.cart-description {
  padding: 0 15px;
}

.input-field-cart {
  width: 48px;
  height: 32px;
  text-align: right;
  font-size: 22px;
  margin: 12px;
  margin-top: 100%;
}
.remove-from-cart {
  color: rgb(226, 15, 15);
  font-size: 48px;
  margin: 12px;
  &:hover {
    cursor: pointer;
  }
}
.cart-controler {
  display: flex;
  flex-direction: column;
  align-items: center;
}
