footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 200px;
  min-width: 100%;
  background: linear-gradient(black, gray);
  color: white;
  text-align: center;
  div p {
    padding-top: 20px;
    margin: 0;
  }
  button {
    margin-top: 40px;
    width: 160px;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid white;
    font-weight: bold;
    color: white;
    background: linear-gradient(to bottom, #d4622d, #b11c1c);
    &:hover {
      cursor: pointer;
      border: none;
    }
  }
}