header {
  width: 90%;
  margin-left: 5%;
  background-image: url('/images/Header/headerImage.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 25px black;
  h1 {
    color: white;
    text-shadow: 4px 4px 5px rgba(black, 0.8);
    font-style: italic;
    font-size: 48px;
    margin-top: 0px;
    text-align: center;
    padding-top: 20px;
  }
  nav {
    display: flex;
    margin: 0;
    justify-content: space-between;
    .left-nav {
      margin-bottom: 10px;
      margin-top: 15px;
    }
    .right-nav {
      margin-bottom: 10px;
      margin-top: 15px;
    }
    .dropdown {
      display: none;
    }
    .dropdown-button {
      padding: 5px;
      background-color: white;
      border-style: solid;
      cursor: pointer;
      margin: 0;
      img {
        width: 80px;
        height: 45px;
      }
    }
  div a {
      text-decoration: none;
      color: white;
      text-shadow: 4px 4px 5px rgba(black, 0.8);
      font-size: 32px;
      padding: 5px 15px;
      margin: 15px;
      &:hover {
          color: rgb(226, 194, 14);
      }
      transition: all 0.6s cubic-bezier(.25,.8,.25,1);
    }
  }
}
.active {
  color: rgb(226, 194, 14);
  border-bottom: solid 2px rgb(226, 194, 14);
}
.sticky-header {
  position: fixed;
  z-index: 100;
  top: 0;
}
.sticky-header + .home-component {
  padding-top: 165px;
}
.sticky-header + .card-holder-container {
  padding-top: 160px;
}
.sticky-header + .blog-container {
  padding-top: 184px;
}
.sticky-header + .cart-holder-container {
  padding-top: 180px;
}
.sticky-header + .sign-form {
  padding-top: 160px;
}
.sticky-header + .blogPostFull-container {
  padding-top: 180px; 
}


@media screen and (max-width: 1000px) {
  header {
    min-width: 100%;
    margin-left: 0;
  }
  .sticky-header {
    position: static;
  }
  header nav {
    margin: 0;
    .right-nav {
      display: none;
    }
    .dropdown {
      display: inline-block;
      &:hover .dropdown-content {display: block;}
    }
    .dropdown-content {
      display: none;
      position: fixed;
      right: 0;
      background-color: white;
      z-index: 101;
      min-width: 100px;
    }
    .dropdown-content a {
      color: black;
      text-decoration: none;
      display: block;
      text-shadow: none;
      text-align: left;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 15px;
      border-left: solid 1px;
      border-bottom: solid 1px;
      margin: 0;
    }
  }
  .sticky-header + .home-component {
    padding-top: 0;
  }
  .sticky-header + .card-holder-container {
    padding-top: 0;
  }
  .sticky-header + .blog-container {
    padding-top: 0;
  }
  .sticky-header + .cart-holder-container {
    padding-top: 0;
  }
  .sticky-header + .sign-form {
    padding-top: 0;
  }
  .sticky-header + .blogPostFull-container {
    padding-top: 0; 
  }
}

