.sign-form {
  width: 100%;
  min-height: 100%;
}

.sign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-left: 20%;
}
.message-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  #error-paragraph {
    width: 175px;
  }
}
.sign-image {
  width: 250px;
  height: auto;
}
.btn-sign {
  width: 180px;
  height: 50px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  font-size: 22px;
  font-style: arial, sans-serif;
  color: white;
  background: linear-gradient(to bottom, #2d91d4, #1c75b1);
  padding: 10px;
  margin: 16px 10px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  &:hover {
    box-shadow: none;
    cursor: pointer;
  }
}
.btn-sign-container {
  display: flex;
  flex-direction: row;
}
.input-sign-field {
  display: flex;
  flex-direction: column;
  width: 400px;
  .input-for-sign {
    font-size: 22px;
    text-align: center;
    margin: 5px 0;
  }
}

.error-state {
  box-shadow: 2px 2px 2px red;
}